body {
    width: 1024px;
    margin: 0 auto;
    background-color: #eea5b3;
    font-weight: 400;
}

header {
    font-variant: small-caps;
    /*color: rgba(200, 150, 90, 1);*/
    color: #c8965a;
}

article {
    float: left;
    width: 50vmin;
    height: 50vmax;
    line-height: 50vmax;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: pink;
}